# ===== Python =====
__pycache__/
*.py[cod]
*.pyo

# ===== Virtual Environment =====
.venv/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== OS =====
.DS_Store

# ===== VS Code =====
.vscode/

# ===== Logs / Temp =====
*.log
*.tmp

# ===== SampleCode =====
100knock-data_analytics/
